@gray-darker:               #444444;
@gray-dark:                 
@gray:                      #999999;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);


*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container1{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}


/*hero section*/

.hero-wrapper {
    height: 500px;
    background: rgb(60, 65, 68);
    background-image:url(https://images.unsplash.com/photo-1505032254650-38c840ef254d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6a2d929ec8be991967b81fb5d8cdba58&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

.hero-wrapper .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
/*             background: rgb(60, 65, 68); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ;
}

.hero-content {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.hero-wrapper div h1 {
    margin: 0;
    font-size: 36px;
    margin-bottom: 15px;
    color:rgb(252, 254, 255)
}

.hero-wrapper p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 20px;
}

.hero-wrapper button {
    padding: 15px 50px;
    background: #252023;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    margin: 20px 5px;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width:530px) {
    .hero-content {
        padding: 15px;
    }
    .hero-wrapper div h1 {
        font-size: 28px;
    }
    .hero-wrapper div p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .hero-wrapper button {
        padding: 12px 25px;
        font-size: 16px;
        margin: 0px 2px;
    }
    .nav {
/*                 margin-right: -30px;
        margin-left: -30px; */
        background: #000;
        padding: 0 30px;
        transition: all .3s;
    }
}
/*hero section ends here */
/*spacer and brief about section */

.spacer {
    background-color: #252023;
    margin: 50vh;

}

section
{
    padding:100px;
}

.w50{
    min-width:50%;
}

.content {
    display:flex;
    justify-content: space-between ;    
}
.contentBx{
    padding-right:30px ;
}
.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;

}


/*cards section*/
.about-section{
    background: url(https://fadzrinmadu.github.io/hosted-assets/responsive-about-us-section-using-html/pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}